@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model List<Bakery.Models.Treat>

<h1>Treats for @User.Identity.Name</h1>
<div class="main">
  @if (Model.Any())
  {
    <ul>
      @foreach (Treat treat in Model)
      {
        <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
      }
    </ul>

  }
  else
  {
    <h3>No treats have been added as of yet</h3>
  }
  @Html.ActionLink("Add new treat", "Create", "Treats")
</div>
</div>